{% extends "blog/base.html" %}

{% block content %}

<div class="container">

  <h1> Coffee pictures </h1>

  <div class="row">
    <div class="col-xs-6 col-lg-4 thumbnail">   <img src="https://cdn.stocksnap.io/img-thumbs/280h/ZJZWZJL0DB.jpg" ></div>
    <div class="col-xs-6 col-lg-4 thumbnail">   <img src="https://cdn.stocksnap.io/img-thumbs/280h/ZJZWZJL0DB.jpg" > </div>
    <div class="col-xs-6 col-lg-4 thumbnail">   <img src="https://cdn.stocksnap.io/img-thumbs/280h/ZJZWZJL0DB.jpg" > </div>
    <div class="col-xs-6 col-lg-4 thumbnail">   <img src="https://cdn.stocksnap.io/img-thumbs/280h/ZJZWZJL0DB.jpg" > </div>
    <div class="col-xs-6 col-lg-4 thumbnail">   <img src="https://cdn.stocksnap.io/img-thumbs/280h/ZJZWZJL0DB.jpg" > </div>
    <div class="col-xs-6 col-lg-4 thumbnail">   <img src="https://cdn.stocksnap.io/img-thumbs/280h/ZJZWZJL0DB.jpg" > </div>
  </div>

</div>

{% endblock %}
