body {
  background-color: #011627;
  text-align: center;
  border-left: #2EC486 60px solid;
  border-bottom: #2EC486 60px solid;
  border-right: #2EC486 60px solid;
  margin: 0px;
  font-family: 'Baloo Chettan', cursive;
  color: #FDFFFC;
}

p {
  text-align:inherit;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2.5%;
}

form {
  font-size: 1.5em;
}

#sub {
  font-size: 1em;
  border-radius: 30px;
  padding: 10px;
  background-color: gold;
  height: 100px;
  width: 170px;
  margin: 20px;
}
